+ inbult methods press .tab   it will pop
+ strings are immutable
+ list are mutable
+we can not concatenate a string with int
 we have to do type casting

In [1]:
a = "khan"

In [2]:
a

'khan'

In [3]:
b = "this is my assingment of sting and list manipulation"

In [4]:
b

'this is my assingment of sting and list manipulation'

In [7]:
a[3] # the stings are store in form of indexing so "n"is 
#on "3"index so it print "n"

'n'

In [9]:
b[-1]#negative shows it from reverse direction

'n'

In [12]:
len(b)#len function show overall total lenght of a string here

52

In [17]:
b[4:20] #here i give starting "4"and end point"20" location

' is my assingmen'

In [19]:
b[4:20]# by default step size is positive 1

' is my assingmen'

In [21]:
b[-1:-10:1]# because there is a conflict so it show blank

''

In [25]:
b[1:-10:1]# here it went fom "1"to "-10"excluding -10

'his is my assingment of sting and list ma'

+ now lets use forloop

In [29]:
b

'this is my assingment of sting and list manipulation'

In [32]:
for i in b :
    print(i)

t
h
i
s

i
s

m
y

a
s
s
i
n
g
m
e
n
t

o
f

s
t
i
n
g

a
n
d

l
i
s
t

m
a
n
i
p
u
l
a
t
i
o
n

###### we can use range function as well

In [35]:
for i in range(len(b)):
    print(b[i])

t
h
i
s

i
s

m
y

a
s
s
i
n
g
m
e
n
t

o
f

s
t
i
n
g

a
n
d

l
i
s
t

m
a
n
i
p
u
l
a
t
i
o
n

In [37]:
b[: :-1] # the simplest way for reversing

'noitalupinam tsil dna gnits fo tnemgnissa ym si siht'

In [41]:
c = "this is full stak Data Scientist"

In [42]:
c

'this is full stak Data Scientist'

In [43]:
c[0]

't'

In [52]:
c[0]= "h" #here we want to change "t"so it not woking
#string is immutable , we can not replace one character with other in strings
#we can not assign a character on indexing

TypeError: 'str' object does not support item assignment

In [46]:
l = ["khan",343,False]

In [47]:
l[0]

'khan'

In [48]:
l[0]= "shayan"

In [50]:
l #here we saw that in list we can change it thatas why it is mutable

['shayan', 343, False]

concatination

In [55]:
"shayan"+"khan"

'shayankhan'

In [57]:
"shayan"+1 # we can not concatenate a string with int
# we have to do type casting

TypeError: can only concatenate str (not "int") to str

In [60]:
"shayan"+str(1) #this is called type casting

'shayan1'

In [62]:
"shayan" + ["khan,2,3"]# we can only concatenate str to str

TypeError: can only concatenate str (not "list") to str

In [64]:
"khan"*7

'khankhankhankhankhankhankhan'

In [75]:
b = "my name is khan "
b.find("m")

0

In [76]:
b.find("kjhkh")# its not avalible so it will not give error but it will
#show -1

-1

In [77]:
b.find("my")

0

In [78]:
b.find("name")

3

In [84]:
# Find the index location of name

In [102]:
for i in range(len("name")):
    print(b+i)

3
4
5
6

In [110]:
 a = "what are u doing, What Are U doing"

In [111]:
a

'what are u doing, What Are U doing'

.count()

In [113]:
a.count("are") # how many times it appears ,  its case sensitive also

1

In [114]:
a

'what are u doing, What Are U doing'

.split()

In [118]:
a.split() # it will convert and split inform of list

['what', 'are', 'u', 'doing,', 'What', 'Are', 'U', 'doing']

In [120]:
a.split(',') # when it will find comma it will split it

['what are u doing', ' What Are U doing']

In [123]:
a.split('n')# here it split on base of n

['what are u doi', 'g, What Are U doi', 'g']

In [125]:
a.split('wh')

['', 'at are u doing, What Are U doing']

In [128]:
type(a.split('wh'))# the return will be list

list

.upper()

In [129]:
a

'what are u doing, What Are U doing'

In [131]:
a.upper()

'WHAT ARE U DOING, WHAT ARE U DOING'

In [132]:
a.lower()

'what are u doing, what are u doing'

.swapcase()

In [134]:
a.swapcase()#change lower into upper and upper into lower

'WHAT ARE U DOING, wHAT aRE u DOING'

In [135]:
" ".join(a)

'w h a t   a r e   u   d o i n g ,   W h a t   A r e   U   d o i n g'

In [138]:
a

'what are u doing, What Are U doing'

.reversed()

In [139]:
a[::-1]

'gniod U erA tahW ,gniod u era tahw'

In [141]:
for i in reversed(a):
    print(i)

g
n
i
o
d

U

e
r
A

t
a
h
W

,
g
n
i
o
d

u

e
r
a

t
a
h
w

.strip()

In [144]:
x = "     khan"
x

'     khan'

In [146]:
x.strip()

'khan'

In [147]:
n = "   k   han"
n

'   k   han'

In [149]:
n.strip()# it can only remove space between str not in string

'k   han'

.lstrip()

In [152]:
n.lstrip()

'k   han'

In [153]:
n.rstrip()

'   k   han'

.replace()

In [157]:
s = "how are you"

In [158]:
s.replace("a","f")

'how fre you'

In [161]:
s

'how are you'

In [162]:
s.replace("ho", "to")

'tow are you'

In [163]:
s

'how are you'

In [167]:
s = s.replace("ho", "to") # string is immutable but it will 
#store reconstruct on other location

In [165]:
s

'tow are you'

In [169]:
 k = "khan"
k

'khan'

In [170]:
k.center(20,'k')

'kkkkkkkkkhankkkkkkkk'

### task

In [172]:
 a = "we all are a part of Full Stack data science"

In [173]:
a.lower()

'we all are a part of full stack data science'

In [174]:
a.count(a)

1

In [203]:
print(a.count('a'))

7

In [214]:
print(a.find("a"))

3

In [215]:
a

'we all are a part of Full Stack data science'

In [224]:
a.replace('a','khan')

'we khanll khanre khan pkhanrt of Full Stkhanck dkhantkhan science'

In [226]:
a.split()

['we', 'all', 'are', 'a', 'part', 'of', 'Full', 'Stack', 'data', 'science']

In [227]:
for i in range(len(a)):
    if (a[i] == "a"):
        print(i)

3
7
11
14
28
33
35

.isupper()

In [228]:
s = "khan"

In [229]:
s

'khan'

In [230]:
s.isupper()# what ever builin fuction is start from is it iwll retur boolean

False

In [231]:
s = "KHAN"
s.isupper()

True

.islower()

In [232]:
s.islower()

False

.ispace()

In [233]:
s = "   khan"

In [234]:
s.isspace()

False

In [235]:
s = "  "
s.isspace()

True

.isdigit()

In [238]:
s.isdigit()

False

.endwith()

In [239]:
s.endswith("s")

False

.startswith()

In [241]:
s.startswith(" ")

True

.isalnum()

In [242]:
s.isalnum()

False

.isalpha()

In [244]:
s.isalpha()

False

.istitle()

In [247]:
s.istitle() # is the first character is in uppercase then it will True oonly

False

In [248]:
e = "this is full stack practice"

In [249]:
for i in e :
    print(i)

t
h
i
s

i
s

f
u
l
l

s
t
a
c
k

p
r
a
c
t
i
c
e

In [251]:
len(e)

27

In [ ]:
#we can also write in this way to check lenght

In [255]:
count = 0
for  i in e:
    count = count + 1
print(count)

27

In [259]:
for i in range(1, len(e)):
    print(e[-i])# for reverse

e
c
i
t
c
a
r
p

k
c
a
t
s

l
l
u
f

s
i

s
i
h

In [260]:
s = "khan"
ch = len(s)-1
while ch>= 0 :
    print(s[ch])
    ch = ch-1

n
a
h
k

In [268]:
name = "khanEe"
vowels = "AaEioOuu"
for i in name:
    if i in vowels:
        print("{} is a vowels".format(i))
    else:
        print("{} is not a vowels".format(i))

k is not a vowels
h is not a vowels
a is a vowels
n is not a vowels
E is a vowels
e is not a vowels

In [269]:
"{} name is khan".format("my")

'my name is khan'

In [270]:
"{} name {} khan".format("my","is")

'my name is khan'

In [276]:
a = input()
b = input()
"{} name {} khan".format(a,b)

my
is

'my name is khan'

In [278]:
a = input()
b = input()
"{} name {} khan  {} you".format(a,b) # give error because it expecting for 3rd{}
# to be filled but we only give a , b

ma
is

IndexError: Replacement index 2 out of range for positional args tuple

In [280]:
a = input()
b = input()
"{} name {} khan {}yes".format(a,b,"hiiiiiiiiii")

my
is

'my  name is khan hiiiiiiiiiiyes'

In [282]:
a = "xyx"
b = "eye"
c = "mom"
d = 2002
s = input("enter a data to check if it is pelindrom")
s1 = s[::-1]
if s == s1:
    print("its a pelindrom")
else:
    print("its not a pelindrom")

enter a data to check if it is pelindromjk
its not a pelindrom

### LIST Manipulation

In [284]:
l = ["khan",234,"books",[12,23,4]]# a list can hold hetrogenous elements

In [286]:
l[3]

[12, 23, 4]

In [288]:
l[0:3]

['khan', 234, 'books']

In [290]:
l[3:0:-1]

[[12, 23, 4], 'books', 234]

In [292]:
l[::-1]#reverse a data

[[12, 23, 4], 'books', 234, 'khan']

In [293]:
# we can use forloop also same as string to reverse

In [294]:
l

['khan', 234, 'books', [12, 23, 4]]

In [295]:
s = "shayan"

In [297]:
l+s  # s should be also as a list to concatenate

TypeError: can only concatenate list (not "str") to list

In [309]:
l

['khan', 234, 'books', [12, 23, 4]]

In [314]:
s = "shayan"

In [312]:
l + s

['khan',
 234,
 'books',
 [12, 23, 4],
 '[',
 "'",
 's',
 "'",
 ',',
 ' ',
 "'",
 'h',
 "'",
 ',',
 ' ',
 "'",
 'a',
 "'",
 ',',
 ' ',
 "'",
 'y',
 "'",
 ',',
 ' ',
 "'",
 'a',
 "'",
 ',',
 ' ',
 "'",
 'n',
 "'",
 ']']

In [315]:
s = list(s)

In [316]:
l+s

['khan', 234, 'books', [12, 23, 4], 's', 'h', 'a', 'y', 'a', 'n']

In [319]:
s1 = ["shayan"] # we have to chance variable into list first

In [318]:
l + s1

['khan', 234, 'books', [12, 23, 4], 'shayan']

In [322]:
l * 2

['khan', 234, 'books', [12, 23, 4], 'khan', 234, 'books', [12, 23, 4]]

In [326]:
len(l)

4

In [327]:
l

['khan', 234, 'books', [12, 23, 4]]

In [328]:
"books" in l

True

In [329]:
423 in l

False

In [332]:
"khan" in l

True